body{
    background-color: silver;
}

.bckcolor {
background-color: aqua;
}

section{
    display: flex;
    flex-direction: column;
    border: 3px solid darkgray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.incrustar {
    min-height: 100px;
}
