body{
    background-color: rgb(224, 221, 221);
}

/* div{
    display: block;
} */

.container{
    display: flex;
    flex-direction: row;
    background-color: slategray;
    border-radius: 0px;
    border-bottom: double 5px rgba(236, 207, 190, 0.76); height: 80px;
    margin: -10px;
    font-weight: bold;
}

.nav0{
    
}

.nav1{
    display: flex;
}

.item{
    /* border: solid 2px rgb(162, 162, 165); */
    border-radius: 15px;
    color:black;
    box-sizing: content-box;
    width: 100px;
    height: 50px;
    margin: 15px 5px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    cursor: pointer;
    
}

.one:hover{ 
        /* background-color: blue; */
        /* transition-delay: 0.5s; */
        position: relative; /* sin esto no funciona*/
        bottom: -20px;
}

.two:hover{
        position: relative; 
        bottom: -20px;

}

.three:hover{
        position: relative;
        bottom: -20px;
}
